<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>驾考模拟理论考试系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/static/css/comment.css}">

    <script type="text/javascript" th:src="@{/static/jquery-3.3.1/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/commons.js}"></script>

    <script th:inline="javascript">
        var basePath = /*[[${#httpServletRequest.getContextPath()}]]*/;
        function loginOut() {
            $.ajax({
                url: basePath + "/api/system/logout",
                type: "get",
                success: function (data) {
                    window.location = (basePath +"/login");
                },
                error: function (data) {

                    alert("登出失败")
                }
            })
        }
       var loginkey = /*[[${session.logined}]]*/;
       if (loginkey === null){
           window.location = (basePath +"/login");
       }
       //页面跳转到首页清除缓存
       localStorage.clear();

    </script>

</head>
<body>
<!-- 顶部开始 -->
<div th:replace="nav.html :: nav"></div>
<!--轮播图开始-->
<div class="layui-carousel" id="test1" lay-filter="test1">
    <div carousel-item >
        <div><img th:src="@{/static/images/bike.gif}" width="100%" height="350px"></div>


    </div>
</div>
<!--轮播图结束-->
<!--中部开始-->
<div class="layui-col-sm12" style="margin-left: 80px">
<div class="layui-col-sm3">
    <div class="layui-card card-body-top">
        <div class="layui-card-header card-header">答题记录</div>
        <div class="layui-card-body">
            <div class="layui-anim layui-anim-scaleSpring card-a">
                <a href="/record-score-list">
                    <i class="layui-icon icon-stytle" style="color: #2F4056;">&#xe63c;</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="layui-col-sm3 ">
    <div class="layui-card card-body-top">
        <div class="layui-card-header card-header">模拟练习</div>
        <div class="layui-card-body">
            <div class="layui-anim layui-anim-scaleSpring card-a">
                <a href="/simulate/simulated-exercise">
                    <i class="layui-icon icon-stytle" style="color: #2F4056;">&#xe63c;</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="layui-col-sm3">
    <div class="layui-card card-body-top">
        <div class="layui-card-header card-header">真题练习</div>
        <div class="layui-card-body">
            <div class="layui-anim layui-anim-scaleSpring card-a">
                <a href="/real/real-exercise">
                    <i class="layui-icon icon-stytle" style="color: #FF5722;">&#xe705;</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="layui-col-sm3">
    <div class="layui-card card-body-top">
        <div class="layui-card-header card-header">错题练习</div>
        <div class="layui-card-body">
            <div class="layui-anim layui-anim-scaleSpring card-a">
                <a href="/error/error-exercise" class="icon-a">
                    <i class="layui-icon icon-stytle" style="color: #2F4056;">&#xe615;</i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<hr>
<!--中部结束-->
<!--底部-->
<div class="footer" style="line-height: 100px">
    <div>Copyright ©qinpeng All Rights Reserved</div>
</div>
<script>
    //    轮播图
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            ,height:'350px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
            ,interval: 5000
        });
    });


</script>
</body>
</html>