<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="nav" th:fragment="nav">
    <div class="container">
        <div class="logo"><a href="/index">驾考模拟理论考试系统</a></div>
        <div class="logo" style="font-size: 20px;"><a href="/index">首页</a></div>
        <ul class="layui-nav left fast-add" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;">关于</a>

            </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;"><div th:if="${session.logined != null}"><p th:text="欢迎您+${session.logined.username}"></p></div> </a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="javascript:;" onclick="loginOut()">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</body>
</html>