<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>习题列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/static/jquery-3.3.1/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
   href="javascript:x_admin_show('批量上传','./upload-question?questionType=0',500,300)" title="批量上传">
    <i class="layui-icon" style="line-height:30px">批量上传</i></a>
<div th:replace="title.html :: title"></div>

<div class="layui-btn-group demoTable">
    <button class="layui-btn layui-btn-danger" data-type="deleteAll">批量删除</button>
</div>
<table class="layui-hide" id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:inline="javascript">
    layui.use(['table', 'util'], function () {
        var table = layui.table;
        var util = layui.util;
        //第一个实例
        table.render({
            elem: '#table'
            , height: 'full-100'
            , url: '/real/getReal' //数据接口
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                , groups: 10 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页

            }
            , cols: [
                [{type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'comment', title: '题目', edit: 'text', width: 120}
                    , {field: 'choice', title: '选项', edit: 'text'}
                    , {field: 'answer', title: '答案', edit: 'text'}
                    , {
                    field: 'createTime', title: 'createTime', templet: function (d) {
                        return util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss");
                    }
                }
                    , {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(table)', function (obj) {
            var data = obj.data;

            var jsonArray = [];
            //json数组
            jsonArray.push(data);
            if (obj.event === 'del') {
                layer.confirm('真的删除么', function (index) {
                    obj.del();
                    $.ajax({
                        url: '/real/deleteReal/'
                        , type: "delete"
                        , dataType: "json"
                        , data: JSON.stringify(jsonArray)
                        , contentType: "application/json"
                        , success: function (res) {
                            layer.alert(res.msg, {icon: 6});
                        },
                        error: function (res) {
                            layer.alert(res.msg, {icon: 5});
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.confirm('真的要修改么', function (index) {
                    layer.close(index);
                    $.ajax({
                        url: '/real/updateReal/'
                        , type: "put"
                        , dataType: "json"
                        , data: JSON.stringify(data)
                        , contentType: "application/json"
                        , success: function (data) {
                            layer.msg(JSON.stringify(data));
                            location.replace(location.href);
                        },
                        error: function (data) {
                            layer.msg(JSON.stringify(data));
                            location.replace(location.href);

                        }
                    });
                    layer.close(index);

                });

            }
        });

        var $ = layui.$, active = {
            deleteAll: function () { //获取选中数据
                var checkStatus = table.checkStatus('table')
                    , data = checkStatus.data;
                layer.confirm('真的删除么', function (index) {
                    layer.close(index);
                    $.ajax({
                        url: '/real/deleteReal/'
                        , type: "delete"
                        , dataType: "json"
                        , data: JSON.stringify(data)
                        , contentType: "application/json"
                        , success: function (res) {
                            layer.msg(JSON.stringify(res));
                        },
                        error: function (res) {
                            layer.msg(JSON.stringify(res));
                        }
                    });
                    layer.close(index);
                    location.replace(location.href);
                });
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('table')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('table');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }

        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听单元格编辑
        table.on('edit(table)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);

        });
    });


</script>
</body>

</html>