<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/static/css/font.css}">
        <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
        <link rel="stylesheet" th:href="@{/static/css/comment.css}">
        <link rel="stylesheet" th:href="@{/static/css/index.css}">

        <script type="text/javascript" th:src="@{/static/jquery-3.3.1/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
        <script>
            //页面加载调用
            window.onload=function(){
                //每1秒刷新时间
                setInterval("NowTime()",1000);
            };
            function NowTime(){
                //获取年月日
                var time=new Date();
                var year=time.getFullYear();
                var month=time.getMonth()+1;
                var day=time.getDate();

                //获取时分秒
                var h=time.getHours();
                var m=time.getMinutes();
                var s=time.getSeconds();

                //检查是否小于10
                h=check(h);
                m=check(m);
                s=check(s);
                document.getElementById("nowtime").innerHTML="当前时间："+year+"年"+month+"月"+day+"日  "+h+":"+m+":"+s;
            }
            //时间数字小于10，则在之前加个“0”补位。
            function check(i){
                var num;
                i<10?num="0"+i:num=i;
                return num;


            }
        </script>

    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎管理员：
            <span th:if="${session.logined != null}">
                <span class="x-red" th:text="${session.logined.username}">admin</span>
            </span>
           <div id="nowtime">在这里显示时间</div></blockquote>
        <fieldset class="layui-elem-field">
            <legend>数据统计</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>题目总数数</h3>
                                                <p>
                                                    <cite>66</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>用户数</h3>
                                                <p>
                                                    <cite>12</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>系统通知</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody>
                        <tr>
                            <td >
                                <a class="x-a" href="/" target="_blank">上线了</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>系统信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>xxx版本</th>
                            <td>0.0.1</td></tr>
                        <tr>
                            <th>服务器地址</th>
                            <td>http://39.105.100.109:8089/</td></tr>
                        <tr>
                            <th>操作系统</th>
                            <td>linux</td></tr>
                        <tr>
                            <th>运行环境</th>
                            <td>Apache/8.0</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>版权所有</th>
                            <td>qinpeng
                                <a href="http://39.105.100.109:8089/" class='x-a' target="_blank">访问</a></td>
                        </tr>
                        <tr>
                            <th>开发者</th>
                            <td>秦鹏(1355661810@qq.com)</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    </body>
</html>